html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    padding: 0px;

    font-family: 'Quicksand', sans-serif;
}
i {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styling */

.navbar {
    background-color: black !important;
}

.nav-link {
    color: #ffff !important;
    padding-left: 18px;
    opacity: 0.7;
}

.nav-link:hover {
    font-size: 20px;
    color: #DC894B !important;
    transition: 0.2s;
    opacity: 1;
}

.navbar-brand {
    color: #DC894B !important;
}

.heart {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.heart:hover > a {
    font-size: 20px !important;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 5px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding-left: 20px;
    padding-bottom: 100px;
    width: 150px;
    caret-color: #DC894B;
    transition: width 0.4s ease-out;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #DC894B;
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #DC894B;
    }

/* Header Design */

.carousel-caption > h1 {
    font-size: 5rem;
    opacity: 0.9;
    color: #DC894B !important;

}

.carousel-caption > h2 {
    font-size: 3rem;
    opacity: 0.7;
}

.carousel-caption > p {
    font-size: 1.1rem;
    opacity: 0.6;
}

/* Brands Section Design */
.brands-heading {
    color: #DC894B !important;
    margin: 20px;

}
.brands {
    opacity: 0.1;
    margin-bottom: 20px;
}

.brands:hover {
    opacity: 5.0;
    transition: 1s
}
.brands-section {
    background-color: #07070F;
}


/* INTRODUCTION DESIGN */


/* Header Design */

.header {
    background-color: #353b48;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    float: right;
    /* max-width: 70%; */
    padding-left: 10%;
    padding-right: 10%;
}

.header-info-list {
    list-style-type: none;
}

.header-img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 24% !important;
}

.header-h1 {
    font-size: 70px;
    color: rgb(212, 144, 95);
}

.header-h2 {
    font-size: 42px;
    color: white;
    opacity: 0.8 !important;
}

.header-p {
    font-size: 18px;
    color: white;
    opacity: 0.6 !important;
}

/* PRODUCT CARDS DESIGN */
.products-section {
    background: #353b48;
}
.product-cards {
    margin-top: 20px;
    ;
}

.card-img-top:hover {
    transform: scale(1.5);
    transition: 2s;
}

.card {
    overflow: hidden;
    margin-bottom: 20px;
    /* background: rgb(4, 1, 14) ; */
    -webkit-box-shadow: 0px 0px 13px -1px rgba(255,255,255,0.74);
    -moz-box-shadow: 0px 0px 13px -1px rgba(255,255,255,0.74);
    box-shadow: 0px 0px 13px -1px rgba(255,255,255,0.74);
}

.card-title {
    font-size: 2rem;
    color:  #DC894B;
}



/* Services Section */

.service-section{
	text-align:center;
	padding: 20px;
    background-color: #07070F;
}

.services {
	font-size: 3rem;
	color: white;
	opacity: 0.4;
}
.services:hover {
	color: #DC894B;
	transition: 0.5s;
	opacity: 1;
}

.service-heading {
	color: white;
	opacity: 0.3;
}

/* Testimonial */

.testimonial-section {
   background-color: #353b48;
}

.testimonial-carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.testimonial-carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.testimonial-carousel .item a {
	color: #eb7245;
}
.testimonial-carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.testimonial-carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.testimonial-carousel .testimonial {	
	padding: 30px 0 10px;
}
.testimonial-carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.testimonial-carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.testimonial-carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.testimonial-carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: #999;
    text-shadow: none;
	top: 4px;
}
.testimonial-carousel .carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.testimonial-carousel .carousel-control.left {
	left: auto;
	right: 40px;
}
.testimonial-carousel .carousel-control.right i {
	margin-right: -2px;
}
.testimonial-carousel .carousel .carousel-indicators {
	bottom: 15px;
}
.testimonial-carousel .carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.testimonial-carousel .carousel-indicators li {	
	background: #e2e2e2;
	border-color: transparent;
}
.testimonial-carousel .carousel-indicators li.active {
	border: none;
	background: #888;		
}

/* Footer Design */

.footer {
    background-color: #07070F;
    padding: 20px;
    color: white;
}

.footer-list {
    text-align: center;
    list-style-type: none;
}
.footer-heading {
    font-size: 1.3rem;
    opacity: 0.6;
}
.footer-link {
    text-decoration: none;
    color: white;
    opacity: 0.4;
}

.footer-link:hover {
    opacity: 1;
}




/* Responsive Design */

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width : 768px) { 
    .header-info {
        flex-direction: column;
    }

    .header-info-list {
        list-style-type: none;
        text-align: center;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .header-info {
        flex-direction: column;
    }
  }

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) { 

 }